[submodule "themes/andromeda-light"]
	path = themes/andromeda-light
	url = https://github.com/gethugothemes/andromeda-light.git
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/your-identity/hugo-theme-dimension.git
